*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins" ,sans-serif;
}
body{
    display: flex;
    justify-content: center;
    min-height: 100vh;
    /* background: linear-gradient(to right, #8d3ab0,  */
    /* #ffffff,#23042f);  */
    background-image: url("https://t4.ftcdn.net/jpg/04/60/71/01/360_F_460710131_YkD6NsivdyYsHupNvO3Y8MPEwxTAhORh.jpg");
    background-size: cover;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    width: 420px;
    background: rgba(16, 34, 45, 0.721);
    padding: 30px 20px;
    border-radius: 50px;
    color: #fff;
    box-shadow: 0 0 70px rgb(16, 34, 45);
}
.container h1{
    text-align: center;
    margin-bottom: 20px;
}
.sub-container input {
    width: 100%;
    padding: 20px;
    margin-bottom: 30px;
    outline: none;
    border: none;
    border-radius: 10px;
    font-size: 16px;
}

button{
    width: 100%;
    padding: 15px;
    border-radius: 50px;
    background-color: cyan;
    box-shadow: 0 0 5px cyan;
    outline: none;
    border: none;
    font-size: 20px;
    font-weight: 500;
}
button:hover{
    scale: 1.02;
    box-shadow: 0 0 50px cyan;
}
.user-input input{
    width: 100%;
    padding: 20px;
    margin-bottom: 30px;
    outline: none;
    border: none;
    border-radius: 10px;
    font-size: 16px;
}